<?xml version="1.0" encoding="utf-8" ?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
  <configSections>
    <!-- Registers the microsoft.IdentityModel configuration section -->
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="purchaseLimit" value="15" />
    <add key="certDistinguishedName" value="CN=WifHomeRealmSTS.com" />
    <add key="targetDistinguishedName" value="CN=WifBookStoreSTS.com" />
    <add key="issuerAddress" value="http://localhost/CxmRealmSTS/STS.svc"/>
    <add key="expectedAppliestoURI" value="http://localhost/SecurityTest/"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="CxmRealmSTSBehaviour">
          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the STS and provide message protection.
            This configuration references the "HomeRealmSTS.com" certificate installed during setup of the sample.
            -->
            <serviceCertificate storeLocation ="LocalMachine"
                            storeName="My"
                            x509FindType="FindBySubjectName"
                            findValue="WifHomeRealmSTS.com" />

            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CPrakash.Security.ActiveSTS.RealmSTS.CxmUserNamePasswordValidator, CPrakash.Security.ActiveSTS.RealmSTS"/>
          </serviceCredentials>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
          <serviceMetadata httpGetEnabled ="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <ws2007HttpBinding>
        <binding name="ws2007HttpUsername" useDefaultWebProxy="false" receiveTimeout="10:10:10" >
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" negotiateServiceCredential="false" establishSecurityContext="false"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>

    <services>
      <service name="Microsoft.IdentityModel.Protocols.WSTrust.WSTrustServiceContract" behaviorConfiguration ="CxmRealmSTSBehaviour" >
        <!-- 
        This is the HTTP endpoint that supports clients requesing tokens. This endpoint uses the default 
        standard ws2007HttpBinding which requires that clients authenticate using their Windows credentials.
        -->
        <endpoint address=""
						      binding="ws2007HttpBinding" bindingConfiguration="ws2007HttpUsername"
						      contract="Microsoft.IdentityModel.Protocols.WSTrust.IWSTrust13SyncContract" />

        <!--<endpoint binding="wsHttpBinding" bindingConfiguration="CxmRealmSTS" contract="CxmRealmSTS.CxmRealmSecurityTokenService"/>-->

        <!-- 
        This is the HTTPS endpoint that supports IMetadataExchange.
        -->
        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

  </system.serviceModel>

  <!-- 
  Comment the lines below to disable WIF tracing to: WIFTrace.e2e. 
  Open the trace file using the SvcTraceViewer.exe tool (shipped with the WCF SDK available from Microsoft) or a xml viewer.
  Refer to MSDN if you wish to add WCF tracing.
  -->

  <system.diagnostics>
    <sources>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WIFTrace.e2e" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

  <microsoft.identityModel>
    <service>
      <securityTokenHandlers>
        <remove type="Microsoft.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add type="CPrakash.Security.ActiveSTS.RealmSTS.CxmUserNameSecurityTokenHandler, CPrakash.Security.ActiveSTS.RealmSTS" />
      </securityTokenHandlers>
      <audienceUris>
        <add value="http://localhost/SecurityTest/"/>
      </audienceUris>
      <issuerNameRegistry type="CPrakash.Security.ActiveSTS.RealmSTS.TrustedIssuerNameRegistry, CPrakash.Security.ActiveSTS.RealmSTS" />
      <serviceCertificate>
        <certificateReference findValue="WifHomeRealmSTS.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
      </serviceCertificate>
    </service>
  </microsoft.identityModel>

</configuration>
