@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@Html.ActionLink("Allowed Link", "AccessLinkOne", "Home")
</br>
@Html.ActionLink("Not Allowed Link", "AccessLinkTwo", "Home")